<app-header></app-header>
<div id="layoutSidenav">
    <app-sidebar class="layoutSidenav_content"></app-sidebar>
    <div id="layoutSidenav_content">
        <router-outlet></router-outlet>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2019</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- <app-footer></app-footer> -->
