<main>
    <div class="container-fluid">
        <h3 class="mt-2">Order Detail for {{id}}</h3>
        <ol class="breadcrumb mt-4">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Inventory</a></li>
            <li class="breadcrumb-item"><a href="#">Supplier</a></li>
            <li class="breadcrumb-item"><a href="#">Supplier : This Product</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order Detail</li>
        </ol>
        <div class="row">
            <div class="col col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Order Detail for Id : 456893425 </h5>
                        <h6 class="card-title">Supplier Name : SST Pal Metals </h6>
                        <h6 class="card-title">Delivery Date : 12 March 2019 </h6>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Prod. Name</th>
                                    <th>Per Unit Cost</th>
                                    <th>Purchase Unit</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Product 1</th>
                                    <th>Rs 12/piece</th>
                                    <th>100</th>
                                    <th>1200</th>
                                </tr>
                                <tr>
                                    <th>Product 2</th>
                                    <th>Rs 10/dozen</th>
                                    <th>10</th>
                                    <th>100</th>
                                </tr>
                            </tbody>
                        </table>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
