
<main>
    <div class="container-fluid">
        <h3 class="mt-2">Products</h3>
        <ol class="breadcrumb mt-4">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Inventory</a></li>
          <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
        <!-- <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Primary Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Warning Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Success Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Danger Card</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Area Chart Example</div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Bar Chart Example</div>
                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
        </div> -->
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Products</div>
            <div class="card-body">
              <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row mb-2">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length form-inline" id="dataTable_length">
                      <div class="form-group">
                        <label for="per-page" class="mr-2">Record Per Page</label>
                        <select id="per-page" name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm" (change)="handleRecordPerPage($event.target.value)" >
                          <option *ngFor="let opt of showResultPerPage" [value]="opt" [selected]="opt == paginationConfig.noOfRecordPerPage ">{{opt}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div id="dataTable_filter" class="dataTables_filter d-flex justify-content-end">
                      <label><input type="search" class="form-control form-control-sm" [formControl]="searchkeyWord" placeholder="Search Products" aria-controls="dataTable"></label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Avg Buy Price</th>
                                <th>Avg Sell Price</th>
                                <th>Profit/Loss</th>
                                <th>Stock</th>
                                <th>
                                  <a [routerLink]="['./add']" >Add</a>
                                </th>
                              </tr>
                          </thead>
                          <!-- <tfoot>
                              <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Avg Buy Price</th>
                                <th>Avg Sell Price</th>
                                <th>Profit/Loss</th>
                                <th>Stock</th>
                              </tr>
                          </tfoot> -->
                          <tbody>
                            <tr *ngFor="let product of products">
                              <td>
                                  <a [routerLink]="['./'+product.id]">{{product.name}}</a>
                              </td>
                              <td>{{product.category.name}}</td>
                              <td>{{product.averageBuyPrice}}</td>
                              <td>{{product.averageSellPrice}}</td>
                              <td>{{product.profitLoss}}</td>
                              <td>{{product.stock}}</td>
                              <td><a [routerLink]="['./'+product.id + '/edit']">Edit</a></td>
                            </tr>
                          </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <app-pagination [test]="paginationConfig.currentPage + 'sahdih'" [(paginationConfig)]="paginationConfig" (pageChange)="handlePageChange($event)"></app-pagination>
              </div>
            </div>
        </div>
    </div>
</main>
   